<h1>Login</h1>

<%= form_for :session, url: sessions_path do |form_object| %>
  <div class="field-group">
    <%= form_object.label :email %>
    <%= form_object.text_field :email %>
  </div>
  <div class="field-group">
    <%= form_object.label :password %>
    <%= form_object.password_field :password %>
  </div>
  <div class="field-group">
    <%= form_object.submit "Sign in" %>
  </div>
<% end %>
